@import './base.css';

#app {
  margin: 0 auto;
  padding:0;
  display:flex;
  align-items: center;
  flex-direction: column;
}
ul,li{
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

a{
  text-decoration: none;
}
button{
  cursor: pointer;

}
